<%= page_heading "Lista de Tipologías" %>

<div class="example">

<table id="table_content_attribute" class="table striped bordered hovered">
  <thead>
	  <tr>
	    <th>Nombre</th>
	    <th>Slug</th>
	    <th>Descripción</th>
	    <th>Tipo de Atributo</th>
	    <th>Tipo de Dato</th>
	    <th></th>
	    <th></th>
	  </tr>
  </thead>
  <tbody>
<% @content_attributes.each do |content_attribute| %>
  <tr>
    <td><%= link_to content_attribute.name, content_attribute %></td>
    <td><%= content_attribute.slug %></td>
    <td><%= content_attribute.description %></td>
    <td><%= content_attribute.obj_attribute_type.name %></td>
    <td><%= !content_attribute.obj_data_type ? "" : content_attribute.obj_data_type.name %></td>    
    <td><%= link_to '<i class="icon-pencil fg-darker"></i>'.html_safe, edit_content_attribute_path(content_attribute) %></td>
    <td><%= link_to '<i class="icon-remove fg-darker"></i>'.html_safe, content_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
  <tfoot>
  	  <tr>
	    <th>Nombre</th>
	    <th>Slug</th>
	    <th>Descripción</th>
	    <th>Tipo de Atributo</th>
	    <th>Tipo de Dato</th>
	    <th></th>
	    <th></th>
	  </tr>
  </tfoot>	
</table>

</div>

<br />

<%= link_to 'Nueva Tipología', new_content_attribute_path %>
