<%= form_for(@content_attribute_value) do |f| %>
  <% if @content_attribute_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content_attribute_value.errors.count, "error") %> prohibited this content_attribute_value from being saved:</h2>

      <ul>
      <% @content_attribute_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :attribute_id %><br />
    <%= f.number_field :attribute_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :icon %><br />
    <%= f.text_field :icon %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
