<h1>Listing content_attribute_values</h1>

<table>
  <tr>
    <th>Attribute</th>
    <th>Name</th>
    <th>Description</th>
    <th>Icon</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @content_attribute_values.each do |content_attribute_value| %>
  <tr>
    <!-- <td><%= Content::Attribute.find(content_attribute_value.attribute_id).name %></td> -->
    <% @attr = Content::Attribute.find(content_attribute_value.attribute_id)
    %>
    <td><%= link_to @attr.name, @attr %></td>
    <td><%= content_attribute_value.name %></td>
    <td><%= content_attribute_value.description %></td>
    <td><%= image_tag content_attribute_value.icon.url(:medium) %></td>
    <td><%= link_to 'Show', content_attribute_value %></td>
    <td><%= link_to 'Edit', edit_content_attribute_value_path(content_attribute_value) %></td>
    <td><%= link_to 'Destroy', content_attribute_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attribute value', new_content_attribute_value_path %>
