<%= page_heading "Ver Sub Tipología", @content_attribute_value.name %>

<p id="notice"><%= notice %></p>

<p>
  <b>Attribute:</b>
  <!-- <%= Content::Attribute.find(@content_attribute_value.attribute_id).name %> -->
  <% @attr = Content::Attribute.find(@content_attribute_value.attribute_id) %>
  <!-- <%= link_to @attr.name, @attr %> -->
  <%= @attr.name %>
</p>

<p>
  <b>Name:</b>
  <%= @content_attribute_value.name %>
</p>

<p>
  <b>Description:</b>
  <%= @content_attribute_value.description %>
</p>

<p>
  <b>Icon:</b>
  <%= image_tag @content_attribute_value.icon.url(:high) %>
</p>


<%= link_to 'Modificar', edit_content_attribute_value_path(@content_attribute_value) %> |
<%= link_to 'Retroceder', content_attribute_values_path %>
