<%= form_for(@content_overlayed_img, :html => { :multipart => true }) do |f| %>
  <% if @content_overlayed_img.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content_overlayed_img.errors.count, "error") %> prohibited this content_overlayed_img from being saved:</h2>

      <ul>
      <% @content_overlayed_img.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :history %><br />
    <%= f.text_area :history %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :lat_img %><br />
    <%= f.text_field :lat_img %>
  </div>
  <div class="field">
    <%= f.label :lon_img %><br />
    <%= f.text_field :lon_img %>
  </div>
  <div class="field">
    <%= f.label :alt_img %><br />
    <%= f.text_field :alt_img %>
  </div>
  <div class="field">
    <%= f.label :lat_user %><br />
    <%= f.text_field :lat_user %>
  </div>
  <div class="field">
    <%= f.label :lon_user %><br />
    <%= f.text_field :lon_user %>
  </div>
  <div class="field">
    <%= f.label :alt_user %><br />
    <%= f.text_field :alt_user %>
  </div>
  <div class="field">
    <%= f.label :heritage_id %><br />
    <%= 
    	if @heritages.blank?
    		@heritages = []
    	end
    	
    	f.select :heritage_id, @heritages.collect { |t| [t.name, t.id]}, {:include_blank=>"Seleccione"}, {:class => 'combobox'}
    	#f.number_field :heritage_id 
	%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
