<%= page_heading "Lista de Superposiciones" %>

<div class="example">
	
<table id="table_content_overlayed_imgs" class="table striped bordered hovered">
  <thead>
	  <tr>
	    <th>Nombre</th>
	    <th>Historia</th>	    
	    <th>Heritage</th>
	    <th>Avatar</th>	
      
	    <th>Lat img</th>
	    <th>Lon img</th>
	    <th>Alt img</th>
	  
	    <th>Lat user</th>
	    <th>Lon user</th>
	    <th>Alt user</th> 
	    
	    <th></th>
	    <th></th>
	  </tr>
  </thead>
  <tbody>
<% @content_overlayed_imgs.each do |content_overlayed_img| %>
  <tr>
    <td><%= link_to content_overlayed_img.name, content_overlayed_img %></td>
    <td><%= content_overlayed_img.history %></td>
    <td><%= link_to content_overlayed_img.obj_heritage.name, content_overlayed_img.obj_heritage %></td>
    <td><%= image_tag content_overlayed_img.avatar.url(:thumb) %></td>
    
    <td><%= "%.4f"%content_overlayed_img.lat_img %></td>
    <td><%= "%.4f"%content_overlayed_img.lon_img %></td>
    <td><%= "%.2f"%content_overlayed_img.alt_img %></td>
    
    <td><%= "%.4f"%content_overlayed_img.lat_user %></td>
    <td><%= "%.4f"%content_overlayed_img.lon_user %></td>
    <td><%= "%.2f"%content_overlayed_img.alt_user %></td>
        
    <td><%= link_to '<i class="icon-pencil fg-darker"></i>'.html_safe, edit_content_overlayed_img_path(content_overlayed_img) %></td>
    <td><%= link_to '<i class="icon-remove fg-darker"></i>'.html_safe, content_overlayed_img, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
  <tfoot>
	  <tr>
	    <th>Nombre</th>
	    <th>Historia</th>	    
	    <th>Heritage</th>
	    <th>Avatar</th>	
      
	    <th>Lat img</th>
	    <th>Lon img</th>
	    <th>Alt img</th>
	  
	    <th>Lat user</th>
	    <th>Lon user</th>
	    <th>Alt user</th> 
	    
	    <th></th>
	    <th></th>
	  </tr>
  </tfoot>
</table>

</div>

<br />

<%= link_to 'Nueva Superposición', new_content_overlayed_img_path %>
