<%= page_heading "Lista de Superposiciones" %>

<table class="table striped bordered hovered">
  <tr>
    <th>Name</th>
    <th>History</th>
    <th>Url</th>
    <th>Lat img</th>
    <th>Lon img</th>
    <th>Alt img</th>
    <th>Lat user</th>
    <th>Lon user</th>
    <th>Alt user</th>
    <th>Heritage</th>
    <th>Avatar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @content_overlayed_imgs.each do |content_overlayed_img| %>
  <tr>
    <td><%= content_overlayed_img.name %></td>
    <td><%= content_overlayed_img.history %></td>
    <td><%= content_overlayed_img.url %></td>
    <td><%= content_overlayed_img.lat_img %></td>
    <td><%= content_overlayed_img.lon_img %></td>
    <td><%= content_overlayed_img.alt_img %></td>
    <td><%= content_overlayed_img.lat_user %></td>
    <td><%= content_overlayed_img.lon_user %></td>
    <td><%= content_overlayed_img.alt_user %></td>
    <td><%= content_overlayed_img.heritage_id %></td>
    <td><%= image_tag content_overlayed_img.avatar.url(:thumb) %></td>
    <!-- <td><%= image_tag content_overlayed_img.avatar.url(:thumb) %></td> -->
    <td><%= link_to 'Show', content_overlayed_img %></td>
    <td><%= link_to 'Edit', edit_content_overlayed_img_path(content_overlayed_img) %></td>
    <td><%= link_to 'Destroy', content_overlayed_img, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Superposición', new_content_overlayed_img_path %>
