<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @content_overlayed_img.name %>
</p>

<p>
  <b>Avatar:</b>
  <%= image_tag @content_overlayed_img.avatar.url(:medium) %>  
</p>

<p>
  <b>History:</b>
  <%= @content_overlayed_img.history %>
</p>

<p>
  <b>Url:</b>
  <%= @content_overlayed_img.url %>
</p>

<p>
  <b>Lat img:</b>
  <%= @content_overlayed_img.lat_img %>
</p>

<p>
  <b>Lon img:</b>
  <%= @content_overlayed_img.lon_img %>
</p>

<p>
  <b>Alt img:</b>
  <%= @content_overlayed_img.alt_img %>
</p>

<p>
  <b>Lat user:</b>
  <%= @content_overlayed_img.lat_user %>
</p>

<p>
  <b>Lon user:</b>
  <%= @content_overlayed_img.lon_user %>
</p>

<p>
  <b>Alt user:</b>
  <%= @content_overlayed_img.alt_user %>
</p>

<p>
  <b>Heritage:</b>
  <%= @content_overlayed_img.heritage_id %>
</p>


<%= link_to 'Edit', edit_content_overlayed_img_path(@content_overlayed_img) %> |
<%= link_to 'Back', content_overlayed_imgs_path %>
