<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @content_data_type.name %>
</p>

<p>
  <b>Ptype:</b>
  <%= @content_data_type.ptype %>
</p>


<%= link_to 'Edit', edit_content_data_type_path(@content_data_type) %> |
<%= link_to 'Back', content_data_types_path %>
