<%= page_heading "Lista de Documentos" %>

<table class="table striped bordered hovered">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Url</th>
    <th>Document file name</th>
    <th>Document content type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @content_documents.each do |content_document| %>
  <tr>
    <td><%= content_document.name %></td>
    <td><%= content_document.description %></td>
    <td><%= content_document.url %></td>
    <td><%= content_document.document_file_name %></td>
    <td><%= content_document.document_content_type %></td>
    <td><%= link_to 'Show', content_document %></td>
    <td><%= link_to 'Edit', edit_content_document_path(content_document) %></td>
    <td><%= link_to 'Destroy', content_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Documento', new_content_document_path %>
