<%= page_heading "Lista de Tipos de Atributos" %>

<div class="example">
	
<table id="table_content_attribute_types" class="table striped bordered hovered">
  <thead>
	  <tr>
	    <th>Nombre</th>
	    <th>Descripción</th>
	    <th></th>
	    <th></th>
	  </tr>
  </thead>
  <tbody>
<% @content_attribute_types.each do |content_attribute_type| %>
  <tr>
    <td><%= link_to content_attribute_type.name, content_attribute_type %></td>
    <td><%= content_attribute_type.description %></td>
    <td><%= link_to '<i class="icon-pencil fg-darker"></i>'.html_safe, edit_content_attribute_type_path(content_attribute_type) %></td>    
    <td><%= link_to '<i class="icon-remove fg-darker"></i>'.html_safe, content_attribute_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
  <tfoot>
	  <tr>
	    <th>Nombre</th>
	    <th>Descripción</th>
	    <th></th>
	    <th></th>
	  </tr>
  </tfoot>
</table>

</div>

<br />

<%= link_to 'Nuevo Tipo de Atributo', new_content_attribute_type_path %>
