<%= page_heading "Lista de Tipos de Atributos" %>

<table id="table_content_attribute_types" class="table striped bordered hovered">
  <thead>
	  <tr>
	    <th>Name</th>
	    <th>Description</th>
	    <th>Show</th>
	    <th>Edit</th>
	    <th>Destroy</th>
	  </tr>
  </thead>
  <tbody>
<% @content_attribute_types.each do |content_attribute_type| %>
  <tr>
    <td><%= content_attribute_type.name %></td>
    <td><%= content_attribute_type.description %></td>
    <td><%= link_to 'Show', content_attribute_type %></td>
    <td><%= link_to 'Edit', edit_content_attribute_type_path(content_attribute_type) %></td>
    <td><%= link_to 'Destroy', content_attribute_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'Nuevo Tipo de Atributo', new_content_attribute_type_path %>
