<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @content_attribute_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @content_attribute_type.description %>
</p>


<%= link_to 'Edit', edit_content_attribute_type_path(@content_attribute_type) %> |
<%= link_to 'Back', content_attribute_types_path %>
