<%= form_tag url_for(:controller => 'heritages', :action => 'save_extra_fields'), remote:true do -%>
	<fieldset class="column-right2" id="">
	<legend>Atributos Extra</legend>
	
	<br />
	
	<%= hidden_field_tag 'heritage_id', heritage.id %>	
	<% @attributes.each do |attribute| %>
	
		<%  @h_a_value = ""
			@h_a = heritage.getHeritageAttribute(heritage.id, attribute.id)
			if !@h_a.blank? 
				@h_a_value = @h_a.value 
			end
		%>	
	
		<%= label_tag attribute.slug, attribute.name %>
				
		<% if attribute.obj_attribute_type.name == "TextBox" %>
			<%= text_field_tag attribute.slug, @h_a_value %>
		<% else %>
			<%= text_area_tag attribute.slug, @h_a_value %>
		<% end %>
		
		<!-- <input type="hidden" name="extra_fields[]" value='<%= 0 %>'/> hidden_field_tag-->
		    
	<% end %>
	
	<% #hidden_field_tag "attribute_id",attribute.id  
	%>
	
	<%= submit_tag 'Guardar', :id => 'btn_save_extra_fields' %>
	<!-- <input id="btn_save_extra_fields" type="submit" value="Guardar" class="column-right1" /> -->
	</fieldset>
<% end %>
<script type="text/javascript">
$(document).ready ->
  $("#btn_save_extra_fields").on("ajax:success", (e, data, status, xhr) ->
    $("#btn_save_extra_fields").append xhr.responseText
  ).on "ajax:error", (e, xhr, status, error) ->
    $("#btn_save_extra_fields").append "<p>ERROR</p>"
</script>
