<%= page_heading "Lista de Patrimonios" %>

<table id="table_content_heritage" class="table striped bordered hovered">
  <thead>
	  <tr>
	    <th>Nombre</th>
	    <th>Descripción</th>
	    <th>Historia Breve</th>
	    <th>Extensión</th>
	    <th>Lat</th>
	    <th>Lon</th>
	    <th>Alt</th>
	    <th>Perímetro</th>
	    <th>Geolocalización</th>
	    <th>Rutas de Acceso</th>	    
	    <th></th>
	    <th></th>
	  </tr>
  </thead>
  <tbody>
<% @content_heritages.each do |content_heritage| %>
  <tr>
    <td><%= link_to content_heritage.name, content_heritage %></td>
    <td><%= content_heritage.description %></td>
    <td><%= content_heritage.brief_history %></td>
    
    <td><%= "%.0f"%content_heritage.extention %></td>    
    <td><%= "%.4f"%content_heritage.lat %></td>
    <td><%= "%.4f"%content_heritage.lon %></td>
    <td><%= "%.2f"%content_heritage.alt %></td>
    <td><%= "%.0f"%content_heritage.perimeter %></td>
    
    <td><%= content_heritage.geo_location %></td>
    <td><%= content_heritage.access_routes %></td>
    
    <td><%= link_to '<i class="icon-pencil fg-darker"></i>'.html_safe, edit_content_heritage_path(content_heritage) %></td>
    <td><%= link_to '<i class="icon-remove fg-darker"></i>'.html_safe, content_heritage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
  <tfoot>
	  <tr>
	    <th>Nombre</th>
	    <th>Descripción</th>
	    <th>Historia Breve</th>
	    <th>Extensión</th>
	    <th>Lat</th>
	    <th>Lon</th>
	    <th>Alt</th>
	    <th>Perímetro</th>
	    <th>Geolocalización</th>
	    <th>Rutas de Acceso</th>	    
	    <th></th>
	    <th></th>
	  </tr>
  </tfoot>
</table>

<br />

<%= link_to 'Nuevo Patrimonio', new_content_heritage_path %>
