<p id="notice"><%= notice %></p>

<div class="geomap">
  	<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@content_heritage.lat}%2C#{@content_heritage.lon}" %>
  </div>
<p>
  <b>Name:</b>
  <%= @content_heritage.name %>
</p>

<p>
  <b>Description:</b>
  <%= @content_heritage.description %>
</p>

<p>
  <b>Brief history:</b>
  <%= @content_heritage.brief_history %>
</p>

<p>
  <b>Extention:</b>
  <%= @content_heritage.extention %>
</p>

<p>
  <b>Lat:</b>
  <%= @content_heritage.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @content_heritage.lon %>
</p>

<p>
  <b>Alt:</b>
  <%= @content_heritage.alt %>
</p>

<p>
  <b>Perimeter:</b>
  <%= @content_heritage.perimeter %>
</p>

<p>
  <b>Geo location:</b>
  <%= @content_heritage.geo_location %>
</p>

<p>
  <b>Access routes:</b>
  <%= @content_heritage.access_routes %>
</p>

<% @attributes.each do |attribute| %>
	
	
	  <%if attribute.obj_attribute_type.name == "TextBox" or attribute.obj_attribute_type.name == "TextArea"
	  		her_att = @content_heritage.heritage_attributes.where(["content_attribute_id = ?",attribute.id]).first
	  		if her_att
	  %>
	  			<p>
		  			<b><%=attribute.name%>:</b>
		  			<%= her_att.value %>
	  			</p>
  			<%end%>
  	  <%else%>
  	  	<% at_val = @content_heritage.content_attribute_values.where(["attribute_id = ?",attribute.id]).first 
  	  	if at_val%>
  	  		<p>
  				<b><%=attribute.name%>:</b>
  	  			<%=at_val.name%>
  			</p>
  	  	<%end%>
  	  	<%= #h_a.content_attribute.list_attribute_values.find(h_a.value).name 
  	  	%>
  	  <%end%>
	
	
<% end %>

<%= link_to 'Edit', edit_content_heritage_path(@content_heritage) %> |
<%= link_to 'Back', content_heritages_path %>
