<div class="navigation-bar dark">
    <div class="navigation-bar-content container">
        <a href="/" class="element"><span class="icon-grid-view"></span> CulturARt <sup>2.0</sup></a>
        <span class="element-divider"></span>

        <a class="element1 pull-menu" href="#"></a>
        <ul class="element-menu">
            <li>
                <a class="dropdown-toggle" href="#">Base CSS</a>
                <ul class="dropdown-menu dark" data-role="dropdown">
                    <li><a href="requirements.html">Requirements</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle">General CSS</a>
                        <ul class="dropdown-menu dark" data-role="dropdown">
                            <li><a href="global.html">Global styles</a></li>
                            <li><a href="grid.html">Grid system</a></li>
                            <div class="divider"></div>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="tables.html">Tables</a></li>
                            <li><a href="forms.html">Forms</a></li>
                            <li><a href="buttons.html">Buttons</a></li>
                            <li><a href="images.html">Images</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li><a href="responsive.html">Responsive</a></li>
                    <li class="disabled"><a href="layouts.html">Layouts and templates</a></li>
                    <li class="divider"></li>
                    <li><a href="icons.html">Icons</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle"  href="#">Components</a>
                <ul class="dropdown-menu dark" data-role="dropdown">
                    <li><a href="tiles.html">Tiles</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle">Navigation</a>
                        <ul class="dropdown-menu dark" data-role="dropdown">
                            <li><a href="navbar.html">Navigation Bar</a></li>
                            <li><a href="menus.html">Menus</a></li>
                            <li><a href="fluent-menu.html">Fluent Menu</a></li>
                            <li><a href="sidebar.html">Sidebar</a></li>
                            <li><a href="tab-control.html">Tab Control</a></li>
                            <li><a href="accordion.html">Accordion</a></li>
                            <li><a href="buttons.html#_set">Button Set</a></li>
                            <li><a href="buttons.html#_breadcrumbs">Breadcrumbs</a></li>
                            <li><a href="wizard.html">Wizard</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle">Visualisation</a>
                        <ul class="dropdown-menu dark" data-role="dropdown">
                            <li><a href="rating.html">Rating</a></li>
                            <li><a href="progress-bar.html">Progress Bar</a></li>
                            <li><a href="scroll.html">Scroll Bar</a></li>
                            <li><a href="slider.html">Slider</a></li>
                            <li><a href="carousel.html">Carousel</a></li>
                            <li><a href="treeview.html">TreeView</a></li>
                            <li><a href="lists.html">Lists</a></li>
                            <li><a href="hint.html">Hint</a></li>
                            <li><a href="balloon.html">Balloon</a></li>
                            <li><a href="notices.html">Notices</a></li>
                            <li><a href="stepper.html">Stepper</a></li>
                            <li><a href="panels.html">Panel</a></li>
                            <li><a href="streamer.html">Streamer</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle">Date and Time</a>
                        <ul class="dropdown-menu dark" data-role="dropdown">
                            <li><a href="calendar.html">Calendar</a></li>
                            <li><a href="datepicker.html">DatePicker</a></li>
                            <li><a href="times.html">Times</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle">Information</a>
                        <ul class="dropdown-menu dark" data-role="dropdown">
                            <li><a href="window.html">Window</a></li>
                            <li><a href="dialog.html">Dialog</a></li>
                            <li><a href="notify.html">Notify</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" class="dropdown-toggle">Third-party</a>
                        <ul class="dropdown-menu dark" data-role="dropdown">
                            <li><a href="dataTables.html">DataTables</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle fg-yellow">Gestor</a>
                <ul class="dropdown-menu dark" data-role="dropdown">
                    <li>
                        <a href="#" class="dropdown-toggle">Patrimonios</a>
                        <ul class="dropdown-menu dark" data-role="dropdown">
                            <li><%= link_to 'Ver todos', content_heritages_path %></li>
                            <li><%= link_to 'Agregar Nuevo', new_content_heritage_path %></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle">Superposición</a>
                        <ul class="dropdown-menu dark" data-role="dropdown">
                            <li><%= link_to 'Ver todos', content_overlayed_imgs_path %></li>
                            <li><%= link_to 'Agregar Nuevo', new_content_overlayed_img_path %></li>
                        </ul>
                    </li>
                    
                    <li class="divider"></li>

					<li>
                        <a href="#" class="dropdown-toggle">Tipologías</a>
                        <ul class="dropdown-menu dark" data-role="dropdown">
                            <li><%= link_to 'Ver todos', content_attributes_path %></li>
                            <li><%= link_to 'Agregar Nuevo', new_content_attribute_path %></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#" class="dropdown-toggle">Sub Tipologías</a>
                        <ul class="dropdown-menu dark" data-role="dropdown">
                            <li><%= link_to 'Ver todos', content_attribute_values_path %></li>
                            <li><%= link_to 'Agregar Nuevo', new_content_attribute_value_path %></li>
                        </ul>
                    </li>
                                                            
                </ul>
            </li>
        </ul>

        <div class="no-tablet-portrait no-phone">
            <div class="element place-right">
				<a class="dropdown-toggle" href="#">
				<span class="icon-cog"></span>
				</a>
				<ul class="dropdown-menu place-right" data-role="dropdown">
					<li><a href="#">Products</a></li>
					<li><a href="#">Download</a></li>
					<li><a href="#">Support</a></li>
					<li><a href="#">Buy Now</a></li>
				</ul>
			</div>
			<span class="element-divider place-right"></span>
			<a class="element place-right" href="#"><span class="icon-locked-2"></span></a>
			<span class="element-divider place-right"></span>
			<button class="element image-button image-left place-right">
				Christian Arakaki
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2QQZf17LEdjj0xYTJ9vOyoZWpPXdYt1ykVIef0dxue8QVvfJG2Q5Cbg"/>
			</button>
        </div>
    </div>
</div>
